body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	display: grid;
	align-items: center;
}

main {
	margin: 0px !important;
	padding: 0px !important;
	width: 100% !important;
	max-width: none !important;
}